@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: var(--color-secondary);
}

img{
  width: 100%;
  height: auto;
}

/* BASE */

body{
  font: var(--font-p);
  color: var(--color-secondary);
  background-color:var(--white);
}

span{
  font: var(--font-p);
}

.title{
 font: var(--font-title)
}

.button{
  color: var(--white);
  background: var(--color-primary);
  width:10rem;
  height:3rem;
  padding: 1rem;
  border-radius: 40px;
  display:flex;
  align-items: center;
  justify-content:center;
  transition:background 0.5s;
}

.button:hover{
  background: #169B62;
}


.divider {
  width: 100%;
  height: 3px;
  background: #1ECE83;
  border-radius: 50px;
}

/* TEXTO PARA MENU HAMBURGUER */
.txt-nav{
  font: 700 3rem 'Roboto', sans-serif;
}

/* VARIÁVEIS */
:root{
  /* CORES */
  --color-primary: #1ECE83;
  --color-secondary: #545454;
  --white:#FFF;
  --color-card: #EEEEEE;
  --color-background:#fff9f9;

/* TAMANHO HEADER */
  --header-height:6.25rem;

  /* FONTES */
  --font-p: 400 1rem 'Roboto',sans-serif;
  --font-h4: 700 1.56rem 'Roboto',sans-serif;
  --font-title: 700 3rem 'Bauhaus 93', sans-serif;
}

/* LAYOUT */

.container{
  width: 90%;
  margin: 0 auto;
}

/* PARA FAZER A CONFIGURAÇÃO DO GRID DEPOIS */
.grid {
  display: grid;
  gap: 2.25rem;
}

.section {
  padding: 4rem 0;
}

#header{
  display: flex;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  margin-bottom: 2rem;
  background: var(--white);
  border-bottom: 1px solid var(--color-background);
}

main{
  margin-top: calc(var(--header-height) + 2rem);
}

nav.container{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav .left{

  display:flex;
  align-items:center;
  justify-content:center;
  height: var(--header-height)
}

/* NAO PRECISA  */
nav .right{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  height: var(--header-height)
}

/* COMEÇO DO MENU RESPONSIVO */

nav ul li{
  text-align: center;
}

nav ul li a{
  transition: color 0.5s;
}

nav ul li a:hover{
  color: #1ECE83;
}

nav .menu ul{
  display:none; 
}

nav .menu{
  opacity:0;
  visibility:hidden;
  left: 12rem; 
  transition: 0.2s
}

nav .btn-contatar{
  opacity:0;
  display:none;

}

/* Mostrar menu hamburguer */

nav.show .menu{
  opacity: 1;
  visibility: visible;
  background: #fff9f9;
  height:100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left:0;
  display:grid;
  place-content: center;
}

nav.show .menu ul{
  display:grid;
}



nav.show ul.grid{
  gap: 4rem;
}

/* Abrir menu */

.toggle{
  font-size:  2rem;
  color: var(--color-secondary);
  cursor: pointer;
}

nav .icon-x{
  visibility:hidden;
  opacity:0;
  position: absolute;
  right: 1.5rem;

}

nav.show div.icon-x{
  visibility:visible;
  opacity:1;

}
/* INICIO */

#home .text {
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

#home .text h1 {
  text-align:center;
}

/* QUEM SOMOS */

#services .container{
  display:flex;
  flex-direction: column;
  align-items:center;
  gap: 2rem;
}



#services .card{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width: 100%;
  height:15rem;
  border-radius:3.125rem ;
  padding: 10rem 1rem;
}

#services  .card-equal{
  background: var(--color-card);
  font: var(--font-h4);
  color: var(--color-primary);
  
}
#services  .card-diff{
  background: var(--color-primary);
}

#services  .card-diff h4{
  color: var(--white);
  font: var(--font-h4);
}

#services  .card-diff .image{
  max-width: 100%;
}

#services  .card-diff p{
  color: var(--white);
  font: var(--font-p);
  text-align: center;
}

/* QUEM SOMOS */


#about .text{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
  height:auto;
}

#about .text p{
  font: var(--font-p);
  margin-top: 1rem;
  text-align: center;
}

#about .image{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width: 100%;
  height:auto;
}

#about .image .button{
 margin-top: 2rem;
}

/* CONTATO */

#contact h2{
  text-align: center;
  font-size: 2.5rem;
}

#contact .form{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

#contact .form .input:focus, textarea:focus{
  outline: none;
  
}

#contact .form .input{
  width: 100%;
  border: 2px solid var(--color-primary);
  height:2rem;
  border-radius: 0.31rem;
  background: rgba(30, 206, 131, 0.1);
}

#contact .form textarea{
  width: 100%;
  border: 2px solid var(--color-primary);
  border-radius: 0.31rem;
  resize: none;
  background: rgba(30, 206, 131, 0.1);
  margin-bottom: 1rem;
}

#contact .form .button{
  border: 0;
  font: var(--font-p);
  cursor: pointer;
}

/* FOOTER */
#footer{
  background:var(--color-primary)
}


#footer .maps{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  margin-top: 3.43rem;
  border-radius: 1rem;
}

#footer .maps iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

#footer .social{
  display:flex;
  flex-direction: column;
  justify-content:center;
}

#footer .social h5{
  display: flex;
  align-items:center;
}

#footer .social .icon{

  color: var(--white);
  font: var(--font-p);
  font-size: 1.5rem;
  padding-top:1rem;
}

#footer .social p{
  color: var(--white);
  font: var(--font-p);
  font-size: 1rem;
  margin-left: 0.5rem;
}

#footer  p{
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  color: var(--white);
}


/* LAYOUT COM MEDIAS */
@media (min-width: 1200px){
    .section{
      padding: 6rem 0;
    }

    .container{
      max-width: 1120px;
    }

    nav .menu{
      opacity:1;
      visibility:visible;
      top: 0;
    }
    nav .menu ul{
      display:flex;
      gap: 2rem;
    }

    nav .menu ul li a{
      font: var(--title-p)
    }

    nav .icon-menu{
      display:none;
    }

    nav .right{
    }

    nav .btn-contatar{
      opacity:1;
      display:inline;
      font: var(--font-p);
      background:#FFF;
      border: 1px solid #EEEEEE;
      border-radius: 3.12rem;
      padding: 0.5rem 1.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      transition: transform 0.2s
    }
    nav .btn-contatar:hover{
      transform: translateX(1rem);
    }

    nav .btn-contatar .icon-arrow-right{
      color: var(--color-primary);
    }

    main{
      margin-top: var(--header-height);
    }

    /* INICIO */

    .title{
      font-size: 4rem;
    }

    #home .container{
      grid-auto-flow: column;
    
    }

    #home .text{

      align-items: flex-start;
      width: 32.5rem;
    }
    #home .button{
      transition:  0.5s;
    }
    #home .button:hover{
      transform: translateX(1rem);
    }


   /* SERVIÇOS */

    #services .cards{
      display:grid;
      grid-auto-flow: column;
      gap: 0;
      position:relative;
    }
    #services .card-equal{
      width:280px;
      margin-left: -2rem;
      margin-right: -2rem;
      padding: 0;
      margin-top: 5rem;
    }

    #services .card-diff{
      z-index: 1;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    #services .left{
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    #services .right{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    /* QUEM SOMOS */

    #about{
      background-image: url('../assets/patas.png');
      background-size: 70%;
    }

    /* CONTATO */

    #contact .container{
      display:flex;
      align-items:center;
      justify-content:center;
    }

    #contact .form .input{
      width: 100%;
    }

    /* FOOTER */
    #footer .container{
      display:grid;
      grid-auto-flow: column;
      grid-template-columns: 1fr 18.75rem ;
    }

}
